[Unit]
Description = User Service
[Service]
User=roboshop
ExecStart=/bin/node /home/roboshop/user/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target